body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #f5f6f7;
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
    background: rgba(14, 14, 117, 0.5);
}

h1, p {
    margin: 1rem auto;
    text-align: center;
    max-width: 500px;
}

a {
    color: white;
}

form {
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background: #1b1b32;
}

fieldset {
    border: none;
    padding: 2rem 2rem;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea, 
select {
  margin: 0;
  width: 100%;
  min-height: 2em;
  padding-left: 1em;
}

.inline {
    width: unset;
    margin: 0;
    vertical-align: middle;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #459261;
    color: white;
    min-width: 300px;
    border: none;
  }