<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>
        <ul>
            <li>Home</li>
            <li>About</li>
        </ul>
    </nav>
</header>