<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi, sou o Saul</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>